html {
    width: 100%; 
    height: 100%;
}
body {
    margin: 60px auto;
    width: 70%;
    height: 100%;
    font-size: 16px;
    font-family:'Iosevka',sans-serif;
    background-color: #07111F;
}
table {
    width: 100%;
}
nav ul, footer ul {
    font-family:'Iosevka',sans-serif;
    font-size: 16px;
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #304E41;
}
a:hover {
    text-decoration: underline;
    color: #1C3E2F;
}
p {
    font-size: 16px;
    font-family:'Iosevka',sans-serif;
    color: #4A7160;
}
h0 {
    font-size: 22px;
    font-family:'Iosevka',sans-serif;
    color: #4A7160;
    text-decoration: underline;
}
h1 {
    font-size: 20px;
    font-family:'Iosevka',sans-serif;
    color: #4A7160;
}
h2 {
    font-size: 18px;
    font-family:'Iosevka',sans-serif;
    color: #4A7160;
}
h3 {
    font-size: 16px;
    font-family:'Iosevka',sans-serif;
    color: #4A7160;
}
footer {
    border-top: 1px solid #0F3123;
    font-size: 14px;
}
ul {
    margin: 2;
}
ul.dashed {
    list-style-type: none;
    font-size: 14px;
    font-family:'Iosevka',sans-serif;
}
ul.dashed > li {
    text-indent: -5px;
}
ul.dashed > li:before {
    content: "-";
    text-indent: -5px;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 14px;
}

ul.posts li {
    list-style: none;
}

/* Toolbar */

td.toolbar {
    font-size: 110%;
    vertical-align: top;
    width: 130px;
    padding: 5px;
    background-color: #111E2F;
    border-radius: 5px;
}

.toolbar a {
    text-decoration: none;
    display: block;
}

.toolbar ul {
    margin: 0;
    padding: 15px;
    list-style-image: url('whitearr.gif');
}

td.content {
    vertical-align: top;
    padding: 10px;
    max-width: 1400px;
}
