body {
    margin: 60px auto;
    width: 70%;
    font-size: 16px;
    font-family:'Fira Code',sans-serif;
    background-color: #1e1e1e
}
nav ul, footer ul {
    font-family:'Fira Code',sans-serif;
    font-size: 16px;
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #ac334d;
}
a:hover {
    text-decoration: underline;
    color: #502b3c
}
p {
    font-size: 16px;
    font-family:'Fira Code',sans-serif;
    color: #fe7c8e
}
h1 {
    font-size: 20px;
    font-family:'Fira Code',sans-serif;
    color: #fe7c8e
}
h2 {
    font-size: 18px;
    font-family:'Fira Code',sans-serif;
    color: #fe7c8e
}
h3 {
    font-size: 16px;
    font-family:'Fira Code',sans-serif;
    color: #fe7c8e
}
footer {
    border-top: 1px solid #ac334d;
    font-size: 14px;
}
ul {
  margin: 2;
}
ul.dashed {
  list-style-type: none;
  font-size: 14px;
  font-family:'Fira Code',sans-serif;
}
ul.dashed > li {
  text-indent: -5px;
}
ul.dashed > li:before {
  content: "-";
  text-indent: -5px;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 14px;
}

ul.posts li {
    list-style: none;
}

/* Toolbar */

td.toolbar {
    font-size: 80%;
    vertical-align: top;
    width: 130px;
    padding: 5px;
    background-color: #000040;
}

.toolbar a {
    color: white;
    text-decoration: none;
}

.toolbar a:hover {
    color: lightblue;
}

.toolbar a:active {
    color: yellow;
}

.toolbar ul {
    margin: 0;
    padding: 15px;
    list-style-image: url('whitearr.gif');
}

td.content {
	vertical-align: top;
	padding: 10px;
	/* For newer browsers and giant displays */
	max-width: 1400px;
}
/*
.footer {
	text-align: center;
	width: 450px;
	padding: 20px;
}

.content-header {
	color: white;
	font-size: large;
	text-align: center;
	background-color: black;
	padding-bottom: 10px;
	max-width: 1400px;
}

*/
