body {
    margin: 60px auto;
    width: 70%;
    font-size: 16px;
    font-family:'Calibri',sans-serif;
}
nav ul, footer ul {
    font-family:'Calibri',sans-serif;
    font-size: 16px;
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 20px;
    font-family:'Calibri',sans-serif;
}
h2 {
    font-size: 18px;
    font-family:'Calibri',sans-serif;
}
h3 {
    font-size: 16px;
    font-family:'Calibri',sans-serif;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: 14px;
}
ul {
  margin: 0;
}
ul.dashed {
  list-style-type: none;
  font-size: 14px;
  font-family:'Calibri',sans-serif;
}
ul.dashed > li {
  text-indent: -5px;
}
ul.dashed > li:before {
  content: "-";
  text-indent: -5px;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 14px;
}

ul.posts li {
    list-style: none;
}
