<!DOCTYPE html>

<html>
  <head>
	<title>{{ page.title }}</title>
	<!-- link to main stylesheet -->
	<link rel="stylesheet" type="text/css" href="../css/main.css">
  </head>
  <body>
	<table border="0" cellpadding="0" cellspacing="10">
	  <th>
		<a href=".."><img src="../images/banner.gif" width="130"></a>
	  </th>
	  <th>
		<h0>{{ page.title }}</h0>
	  </th>
	  <tr>
		<td class="toolbar">
		  <h1 align="center">Index</h3>
		  <a href="..">Home</a>
		  <a href="../games">Games</a>
		  <a href="../code">Code</a>
		  <a href="../contact">Contact</a>
		</td>

		<td class="content">
		  <div class="container">
			
			{{ content }}
			
			<p></p> <!--spacer-->
		  </div><!-- /.container -->
		  <footer>
			<ul>
			  <li><a href="https://github.com/hen6003/" target="_window">My Github</a></li>
			  <li><a href="https://www.gnu.org/licenses/lgpl-3.0.en.html" target="_window">Under GNU GPL licence</a></li>
			</ul>
		  </footer>
		</td>
	  </tr>
	</table>
  </body>
</html>
