<!DOCTYPE html>

<html>
  <table border="0" cellpadding="0" cellspacing="0" width="536" height="770">
	<tr>
	  <td class="toolbar" width="130" bgcolor="#000040" valign="top">
		<h3 class="w3-bar-item">Menu</h3>
		<a href="#" class="w3-bar-item w3-button">Link 1</a>
		<a href="#" class="w3-bar-item w3-button">Link 2</a>
		<a href="#" class="w3-bar-item w3-button">Link 3</a>
	  </td>

	  <td class="content" valign="top">
		<head>
		  <title>{{ page.title }}</title>
		  <!-- link to main stylesheet -->
		  <link rel="stylesheet" type="text/css" href="../css/main.css">
		</head>
		<body>
		  <nav>
			<ul>
			  <li><a href="..">Home</a></li>
			  <li><a href="../games">Games</a></li>
			  <li><a href="../code">Apps/Scripts</a></li>
			</ul>
		  </nav>
		  <div class="container">
			
			{{ content }}
			
			<p></p> <!--spacer-->
		  </div><!-- /.container -->
		  <footer>
			<ul>
			  <li><a href="https://github.com/hen6003/" target="_window">My Github</a></li>
			  <li><a href="https://www.gnu.org/licenses/lgpl-3.0.en.html" target="_window">Under GNU GPL licence</a></li>
			</ul>
		  </footer>
		</body>
	  </td>
	</tr>
  </table>
</html>
